{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block content %}
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="col-md-6 offset-3">
      <form method='post' action='.' class="form-group m-5" enctype='multipart/form-data'>{% csrf_token %}
        {{ form.errors }}
        <div class="text-center mb-4">
          <img class="mb-4" src="{% static 'img/crypt_logo.jpg' %}" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Cryptography</h1>
          <p>Please upload a file with the necessary details<code>:File-shown</code> File-element.</p>
        </div>

        <div class="form-label-group">
          {{ form.filename }}
          <label for="inputEmail">File Name</label>
        </div>

        <div class="form-label-group">
          {{ form.description }}
          <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Description"> -->
          <!-- <label for="inputPassword">Description</label> -->
        </div>

        <div class="form-label-group">
          <label for="password" class="sr-only">Password</label>
          {{ form.password }}
        </div>

        <div class="form-label-group">
          {{ form.file }}
        </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
      <!-- <input type='submit' class='btn btn-lg btn-primary btn-block' value='Encrypt File' /> -->
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
      </form>
    </div>
  </div>
  
{% endblock %}


