{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">
    <style type="text/css">
      #myProgress {
          width: 100%;
          background-color: grey;
      }
      #myBar {
          width: 1%;
          height: 30px;
          background-color: red;
      }
    </style>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="col-md-6 offset-3">
    	{% if form.errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.errors }}
            </div>
        {% endif %}
		<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">{{ instance.filename }}</h5>
		    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
		    <p class="card-text">{{ instance.description }}</p>
		    <a href="{% url 'list' %}" class="card-link btn btn-primary">Home</a>
		    <a href="{% url 'delete' instance.slug %}" class="card-link btn btn-danger">Delete</a>
		    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
	            Encrypt
	        </button>
	        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
	            Decrypt
	        </button>
		  </div>
		</div>
	{{ output }}
		
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action=".">{% csrf_token %}
              <div class="form-group">
                {{ form.password }}
              </div>
              <div class="modal-footer">
	            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      		<!-- <button class="btn btn-primary" type="submit">Submit</button> -->
	      		<input type="submit" class="btn btn-primary" value="Submit">
	          </div>
            </form>
          </div>
        </div>
      </div>
    </div>\


<!-- encrpt -->
<!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Encryption in progress</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="myProgress">
                <div id="myBar"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning" onclick="move()">Start</button>
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </div>
        </div>
      </div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    function move() {
      var elem = document.getElementById("myBar"); 
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
          if (width >= 100) {
              clearInterval(id);
          } else {
              width++; 
              elem.style.width = width + '%'; 
          }
      }
    }
  </script>
{% endblock %}
