{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="{% static 'img/crypt_logo.jpg' %}" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">CryptoCloud</h6>
      <small>Since 2018</small>
    </div>
    <a href="{% url 'create' %}" class="btn btn-primary pull-right">Upload File</a>
  </div>
<div class="row">
  <div class="col-sm-8 offset-2">
    <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent Files</h6>
    {% for file in cryptofiles %}
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162f2b3f14a%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162f2b3f14a%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.546875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <!-- <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ file.filename }}</strong>
        {{ file.description }}
      </p> -->
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">@{{ file.filename }}</strong>
          <a href="{{ file.get_absolute_url }}" class="btn btn-primary" >View</a>
        </div>
        <span class="d-block">{{ file.description }}</span>
      </div>
    </div>
    {% endfor %}
    <!-- Modal -->
    <small class="d-block text-right mt-3">
      <a href="{% url 'list' %}">Recent files</a>
    </small>
  </div>
  </div>
</div>
  

 
{% endblock %}