<!doctype html>
{% load staticfiles %}
{% load crispy_forms_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'css/favicon.ico' %}">

    <title>Signin for cryptocloud</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    {% include 'navbar.html' %}
    <form method='POST' action="." enctype='multipart/form-data' class="form-signin">{% csrf_token %}
      <img class="mb-4" src="{% static 'img/crypt_logo.jpg' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{ form.errors }}
      <label for="inputEmail" class="sr-only">Username</label>
      <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
      {{ form.username }}
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      {{ form.password }}
      <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
      <!-- {{ form|crispy }} -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a href="{% url 'register' %}">Create an account...here</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
