<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand mr-auto mr-lg-0" href="{% url 'list' %}">CryptoCloud</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://getbootstrap.com/docs/4.1/examples/offcanvas/#">Notifications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="http://getbootstrap.com/docs/4.1/examples/offcanvas/#">Action</a>
              <a class="dropdown-item" href="http://getbootstrap.com/docs/4.1/examples/offcanvas/#">Another action</a>
              <a class="dropdown-item" href="http://getbootstrap.com/docs/4.1/examples/offcanvas/#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ request.user.username }}</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}

        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </form>
        {% endif %}
      </div>
    </nav>
